:root {
    --primary-color: #055a05;
    --accent1: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1);
}

/* Page Width */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Header */
header {
    color: var(--accent2-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10rem;
}

header img {
    width: 120px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Hero Section */
.hero {
    position: relative;
}

.hero article {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--accent2-color);
    color: #000;
    opacity: 0.9;
}

.hero article {
    position: absolute;
    top: 55%;
    left: 5px;
    right: 5px;
    transform: translateY(-50%);
    background-color: var(--accent1);
    color: #fff;
    padding: 16px;
    width: 95%;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 1rem;
    border-radius: 5%;
}

/* Sections */
section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    color: rgb(11, 11, 143);
    text-align: center;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}

/* History */
.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.history img {
    width: 150px;
    grid-column: 2 / 3;
}

/* Adventure Gallery */
.adventure-awaits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.adventure-awaits img {
    margin-top: 2rem;
    width: 120px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
}

/* Footer */
footer {
    border-top: 2px solid var(--accent2-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 1.5rem;
    margin: 1rem 0;
    border: none;
}