:root {
    --primary-color: #055a05;
    --accent1: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    color: var(--accent2-color);
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--accent1);
    margin-right: 1rem;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--accent2-color);
    color: #000;
    opacity: 0.9;
}

.hero article {
    position: absolute;
    top: 60%;
    left: 5px;
    right: 5px;
    background-color: var(--accent1);
    color: white;
    padding: 16px;
    width: 95%;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 1rem;
    border-radius: 5%;
}

section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    background-color: rgb(11, 11, 143);
    text-align: center;
    color: white;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}

footer {
    border-top: 2px solid var(--accent2-color);
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 3rem;
    margin: 0.5rem;
    border: none;
}