:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(primary-color);
    color: var(--accent2-color)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.4;
    background-color: var(--accent2-color);
    color: #fa0404;
}

article {
    position: absolute;
    top: 65%;
    background-color: var(--accent1);
    color: white;
    border-radius: 3%;
}

.hero article img {
    float: right;
    width: 125px;
    border-radius: 5%;
}

.overlay {
    position: absolute;
    top: 20%;
    background-color: var(--accent2-color);
    padding-top: 1rem;
    opacity: 0.7;
}

.overlay p {
    padding: 0;
    margin: 0;
}

h2 {
    background-color: rgb(11, 11, 143);
    text-align: center;
    color: white;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

footer {
    border-top: 1px solid #000;
}

.social-media a {
    text-decoration: none;
}

.social-media img {
    border: none;
    width: 3rem;
}