:root {
    --primary-color: #055a05;
    --accent1: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1);
}

/* Page Width */
header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

/*============About Us page =================*/
/* Header */
header {
    color: var(--accent2-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10rem;
    border-bottom: 1px solid var(--accent2-color);
    background-color: white;
}

header img {
    width: 120px;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/*=== main section===*/
/* Headings */

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero h1 {
    position: absolute;
    top: 20px;
    text-align: center;
    padding: 15px;
    width: 100%;
    color: #000;
    background-color: var(--accent2-color);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 1000px;
    position: relative;
}

.hero img {
    max-width: 1000px;
    width: 100%;
}

.address {
    text-align: center;
    margin: 1em;
}

.address p {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1em;
}

.hero-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 5px;
}

.form-item {
    display: grid;
    align-items: flex-end;
}

.col1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
    grid-gap: 10px;
}

.col1 label {
    justify-self: end;
}

.google-map iframe {
    border: 0;
}

.col2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0;
    align-items: flex-end;
}

.radio-label {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-item .message {
    display: flex;
    align-items: start;
}

.check_box {
    grid-template-columns: 4% 96%;
    margin-top: 13px;
    grid-gap: 1rem;
    padding: 5px;
}

.check_box p {
    display: flex;
    flex-direction: column;
}

.hero .google-map {
    grid-column: 1/2;
    grid-row: 1;
}

/* Form = row 1, col 2 */
.hero-contact .profile-info2 {
    grid-column: 2 / 3;
    grid-row: 1;
}

/* sec1 = row 2, full width */
.hero-contact .profile-info1 {
    grid-column: 1 / -1;
    grid-row: 2;
}

.profile-info form {
    display: grid;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.5rem;
}

.btn1 {
    font-size: 1.5rem
}

label {
    justify-items: end;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="radio"] {
    align-items: end;
    width: 20px;
    height: 20px;
    margin: 0.2rem;
    vertical-align: bottom;
}

input[type="checkbox"] {
    align-items: end;
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}

button {
    width: 200px;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 0.7rem;
    font-size: 1rem;
    margin: 20px auto;
}

button:hover {
    background-color: darkgreen;
}

.hero article {
    position: absolute;
    top: 55%;
    left: 5px;
    right: 5px;
    background-color: var(--accent1);
    color: #fff;
    padding: 16px;
    width: 95%;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 1rem;
    border-radius: 5%;
}

/* Sections */
section,
article {
    margin: 16px;
    padding: 8px;
}

h2 {
    color: rgb(11, 11, 143);
    text-align: center;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}

/* History */
.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.history img {
    width: 150px;
    grid-column: 2 / 3;
}

/* Adventure Gallery */
.adventure-awaits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
}

.adventure-awaits img {
    margin-top: 2rem;
    width: 130px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}

figcaption {
    text-align: center;
    font-size: 1rem;
}

/* Footer */
footer {
    position: relative;
    padding: 10px 2px;
    border-top: 2px solid var(--accent2-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer p {
    font-size: 1.5rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    position: absolute;
    right: 0;
    margin-top: 10px;
}

.socialmedia img {
    width: 3rem;
    margin: 1rem 0;
    border: none;
}

.customer-service {
    display: flex;
    align-items: center;
}

/*============== home page section =====================*/

/*== main ==*/
/* == MAIN WRAPPER == */
.cont1 {
    max-width: 1100px;
    margin: 0 auto;
}

/* == HERO SECTION == */
.hero1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero1 img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

/* == HERO TEXT OVERLAY == */
.adv-memo {
    /* position: absolute; */
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 6px black;
}

.adv-memo h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.adv-memo p {
    font-size: 1.5rem;
    color: black;
    box-shadow: none;
}

.btn1 {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background: gold;
    border: none;
    cursor: pointer;
}

/* == COVER IMAGE == */
.cover img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

/* == HERO 2 == */
.hero2 {
    margin: 3rem 0;
    text-align: center;
}

.hero2-adver {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.hero2-adver figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img img {
    max-width: 200px;
    width: 100%;
}

.span img {
    width: 80px;
    margin: 5px;
}

/* == OVERLAY CARD SECTION == */
.ero {
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 5rem auto;
    background-color: rgb(215, 215, 231);
    width: 100%;
    padding: 3rem;
}

.overlay {
    /* position: relative; */
    width: 500px;
    margin: auto;
}

.overlay img {
    border-radius: 20px;
    /* width: 100%; */
    height: 350px;
    /* object-fit: cover; */
}

/* == ASIDE BOX == */
.hero-aside {
    position: absolute;
    right: -50px;
    top: 20%;
    width: 350px;
    padding: 20px;
    background-color: rgb(18, 31, 18);
    color: white;
    border-radius: 15px;
}

.hero-aside h2 {
    color: yellow;
}

.hero-aside .btn {
    margin-top: 1rem;
    display: inline-block;
    width: 120px;
    padding: 0.5rem;
    background-color: rgb(168, 158, 67);
    color: black;
    text-align: center;
    cursor: pointer;
}

/*============================ trips section ==========================*/
container {
    margin: 0 auto;
}

.main {
    margin: 0px auto;
}

.main .para {
    text-align: center;
    padding: 0 2rem;
    font-size: 1.3rem;
}

.cta {
    padding: 4rem 0;
    border-bottom: 5px solid rgb(181, 181, 206);
    margin: 2rem;
    font-size: 1.2rem;
}

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;
    place-items: center;
}

.trips strong,
h3 {
    font-size: 1.2rem;
}

.trip-card {
    width: 450px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.trip-card .rapids {
    padding: 15px;
}

.trip-card img {
    max-width: 800px;
    width: 100%;
}

.trip-card .btn {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid green;
    color: green;
    margin: 20px;
}

.trip-card a:hover {
    border: 1px solid red;
    color: white;
    background-color: blue;
    padding: 6px 15px;
}

.compare h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

table {
    width: 700px;
    /* border-collapse: collapse; */
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 0 auto 3rem;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;
}

thead th,
tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}