table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
}

thead th,
td {
    border: 1px solid rgb(150, 150, 150);
    padding: 8px 12px;
    text-align: center;
}

thead tr,
tfoot tr {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;
}