:root {
    --background-color: darkblue;
    --color-black: black;
    --color-white: white;
    --border: 1px solid #000;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    font-size: 62.5%;
} */

/* Navigation */
nav {
    background-color: var(--background-color);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-even;
    align-items: center;
    font-size: 1.5rem;
}

nav a {
    display: block;
    color: var(--color-white);
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

/* Main Layout */
main {
    margin: 0 auto;
    padding: 2rem;
    grid-column: 2/3;
    margin: 1rem;
}

/* Headings */
main h1 {
    color: darkblue;
    border-bottom: 1px solid black;
}

/* Paragraphs */
main p {
    padding: 0;
    font-size: 1.5rem;
    grid-column: 2/3;
    margin: 1rem;
}

/* Profile Image */
main img {
    float: right;
    clear: both;
    width: 100px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Top list */
#top {
    margin-top: 4rem;
    list-style: none;
}

#top ul li {
    color: #fff;
}

/* Box style (for lists & aside) */
.box {
    margin: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    color: var(--color-white);
    background-color: #26584c;
}

/* Aside */
aside {
    position: relative;
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    color: black;
    position: absolute;
    top: 10%;
    left: 52%;
}

aside img {
    width: 200px;
    height: auto;
}

/* Refactored header and footer */
.grid,
header,
footer {
    width: 840px;
    margin: 0 auto;
}

/* grid layout */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Footer */
footer {
    margin-top: 20px;
    border-top: var(--border);
    text-align: center;
    color: var(--color-white);
    background-color: var(--background-color);
    padding: 10px;
    font-size: 1.5rem;
}