:root {
    --background-color: darkblue;
    --color-black: black;
    --color-white: white;
    --border: 1px solid #000;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation */
nav {
    background-color: var(--background-color);
    width: 100%;
    padding: 10px;
}

nav a {
    color: var(--color-white);
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

/* Main Layout */
main {
    max-width: 1200px;
    width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

/* Headings */
main h1 {
    color: darkblue;
    margin-top: 3rem;
}

/* Paragraphs */
main p {
    padding: 0;
    font-size: 20px;
}

/* Profile Image */
main img {
    float: right;
    clear: both;
    width: 100px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Top list */
#top {
    margin-top: 4rem;
    list-style: none;
}

#top ul li {
    color: #fff;
}

/* Box style (for lists & aside) */
.box {
    margin: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    color: var(--color-white);
    background-color: #26584c;
}

/* Aside */
aside {
    position: relative;
    width: 98%;
    max-width: 1200px;
    text-align: center;
}

aside h2 {
    color: black;
    position: absolute;
    top: 10%;
    left: 52%;
}

aside img {
    width: 200px;
    height: auto;
}

/* Footer */
footer {
    margin-top: 20px;
    border-top: var(--border);
    text-align: center;
    color: var(--color-white);
    background-color: var(--background-color);
    padding: 10px;
}