nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px
}

main h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0;
    font-size: 20px;
}

aside {
    font-size: 20px;
    margin-top: 20px 0;
    padding: 10px;
    width: 98%;
    color: black;
    border: 1px 0 0 0;
    background-color: rgb(247, 243, 243);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
    color: white;
    background-color: darkblue;
    padding: 10px;
}