:root {
    --background-color: darkblue;
    --color-black: black;
    --color-white: white;
    --border: 1px solid #000;
    --aside-background-color: rgb(247, 243, 243);

}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--color-white);
    display: block;
    padding: 20px;
}

main {
    max-width: 1200px;
}

main h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    padding: 0;
    font-size: 20px;
}

aside {
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
    width: 98%;
    color: var(--color-black);
    border: var(--border);
    background-color: var(--aside-background-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
    color: var(--color-white);
    background-color: var(--background-color);
    padding: 10px;
}

main p {
    padding: 0;
    font-size: 20px;
}

aside {
    max-width: 1200px;
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
    width: 98%;
    color: var(--color-black);
    border: var(--border);
    background-color: rgb(247, 243, 243);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--border);
    text-align: center;
    color: var(--color-white);
    background-color: var(--background-color);
    padding: 10px;
}